.indented-container {
  padding-left: 30px;
  margin-left: 10px;
  margin-bottom: 2em;
  border-left: 2px solid var(--soft-border);
}

.dropdown-button {
  display: block;
  background-color: var(--button-color);
  border: 2px solid var(--soft-border);
  padding: 5px;
  cursor: pointer;
}


.tree-selector-options, .selector-options {
  position: absolute;
  background-color: var(--body-bg2);
  padding: 0 10px;
  border: 2px var(--button-color) solid;
}

.tree-selector-option, .selector-option {
  display: block;
  background-color: var(--body-bg1);
  border: 2px var(--button-color) solid;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
}

.tree-selector-option:hover, .selector-option:hover {
  background-color: var(--body-bg1);
  border: 2px var(--text-col4) solid;
}

.tree-selector-group {
  margin-left: 5px;
  border-left: 2px var(--soft-border) solid;
  padding-left: 10px;
  min-width: 200px;
}

.tree-selector-group-label {
  padding: 5px;
}