
#network_id {
    color: var(--text-col4);
}

.indented-container {
    padding-left: 30px;
    margin-left: 10px;
    border-left: 2px solid rgba(0.5, 0.5, 0.5, 0.1);
}

.dropdown-button {
    display: block;
    background-color: var(--button-color);
    padding: 5px;
    cursor: pointer;
}

.dropdown-selector-options {
    position: absolute;
    background-color: var(--body-bg2);
    padding: 0 10px;
    border: 2px var(--button-color) solid;
}

.dropdown-selector-option {
    display: block;
    background-color: var(--body-bg1);
    border: 2px var(--button-color) solid;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}
.dropdown-selector-option:hover {
    background-color: var(--body-bg1);
    border: 2px var(--text-col4) solid;
}

.dropdown-selector-tree {
    margin-left: 5px;
    border-left: 2px var(--indent-border) solid;
    padding-left: 10px;
    min-width: 200px;
}

.dropdown-selector-tree-label {
    padding: 5px;
}

.color-indicator-cell {
    height: 1em;
    width: 1em;
    border-radius: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}