#network_id {
    color: var(--text-col4);
}

#signout_image {
    height: 1em;
}

#signout_image path {
    stroke: var(--soft-border);
}

.color-indicator-cell {
    height: 1em;
    width: 1em;
    border-radius: 25%;
    border: 2px solid var(--soft-border);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}