#network_id {
    color: var(--text-col4);
}

.header-button > svg {
    height: 1em;
}

#signout_image > path {
    stroke: var(--hard-border);
}

#dark_mode_image > path {
    fill: var(--hard-border);
}

.color-indicator-cell {
    height: 1em;
    width: 1em;
    border-radius: 25%;
    border: 2px solid var(--soft-border);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

content {
    display: flex;
    flex-direction: row;
}

#page_content {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid var(--soft-border);
}

.install-script-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.install-script-container-divider {
    border-right: 2px solid var(--soft-border);
    height: stretch;
    width: 2px;
    content: "";
}

.install-script-container {
    text-align: center;
}